extends layout
block content
  section#main
    .container
      .row
        .col-md-10
          .panel-body.form-row
            h3.tableTitle USER LIST
            form.search(action='/userDashboard' method = "post")
            div(style="overflow-x:auto;")
                    table.table.table-bordered.tall
                      thread.thread-success
                        tr.bg-success
                          th Surname
                          th Given Name
                          th Date of Birth
                          th Place of Residence
                          th Occupation
                          th Nationality
                          th Gender
                          th Category
                          th 
                          th
                      tbody
                        if users.length
                        each user in users
                          tr
                            td #{user.surName}
                            td #{user.givenName}
                            td #{user.dob}
                            td #{user.residence}
                            td #{user.occupation}
                            td #{user.nationality}
                            td #{user.gender}
                            td #{user.category}
                            td
                              a(href='/updateUserInfo/'+user._id)
                                button.btn.btn-success.btn-block(type="submit") Update
                            td
                              form(method="post" action='/userDashboard')
                                input(type="hidden", placeholder="", name="id", value=user._id)
                                button.btn.btn-success.btn-block(type="submit") Delete
                        else
                          p Add users first. None are here yet!